<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="<%= table.meta_description %>">
        <meta name="keywords" content="">
        <title><%= table.nil? ? "All Tables" : table.title %></title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/ico" href="favicon.ico"><!-- COMMON STYLES USED THROUGH OUT SIDES -->

        <script type="text/javascript"
                src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
          google.load("jquery", "1", {uncompressed:true});
        </script>
        <%= javascript_script_tag "/javascripts/jquery.tablesorter.js" %>
        <%= javascript_script_tag "/javascripts/jquery.tablesorter.pager.js" %>
        <%= javascript_script_tag "/javascripts/jquery.tablesorter.multipagefilter.js" %>
        <%= javascript_script_tag "/javascripts/application.js" %>
        <%= stylesheet_link_tag "/stylesheets/stylesheet.css", :media=>"screen" %>
        
        <script>
          <% if !table.nil? %>
            var sortPlease = <%= table.sortable? %>;
            var sortOrder = <%= table.sort_array.inspect || "null"%>;
            var perPage = <%= table.per_page %>;
          <% else %>
            var sortPlease = false;
          <% end %>
        </script>
        
        <script type="text/javascript" charset="utf-8">
            jQuery(document).ready(function(){
                jQuery('a.mainNav').mouseover(function(){
                    jQuery('a.mainNav').parent().removeClass('highlight');
                    jQuery(this).parent().addClass('highlight');
                });
                jQuery('a.mainNav').mouseout(function(){
                    jQuery('a.mainNav').parent().removeClass('highlight');
                    jQuery('a.mainNav').slice(1,2).parent().addClass('highlight');
                })
            })
        </script>
        
    </head>
    <body>
        <div id="container">
            <!-- BEGIN HEADER -->
            <div id="header">
                You can put custom header content here and it will be included in all your tables!
            </div>
            <!-- END HEADER -->
            <div id="content">
                <div id="table_fu">
                  <%= yield %>
                </div>
            </div>
            <!-- BEGIN FOOTER -->
            <div id="footer">
                Custom footer content here! (This is a great place to put Google Analytics code!)
                <div class="clear"></div>
            </div>
            <!-- END FOOTER -->
        </div>
    </body>
</html>
